/**
 * 主体结构
 */
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0px;
	padding: 0px;
}

a {
	text-decoration: none;
	color: black;
}

a:hover, a:active {
	color: #00FFCC;
	text-decoration: none;
}

a:link, a:visited {
	color: black;
}


/**
 * navbar
 */
.navbar {
	margin-bottom: 5px;
}

.container .img1 {
	display: inline;
	margin: 0px 0px 0px -200px;
}

.container .nav {
	display: inline;
	margin-left: 100px;
}

.container .nav li {
	background: #F0F0F0;
}

.container .nav li a {
	font-weight: bold;
	font-size: 20px;
}

.container .form-search {
	display: inline;
}

.container .form-search .input-append {
	margin: 5px 0px 0px 0px;
}

.container .form-search .new-btn {
	margin: 4px 0px 0px 0px;
}


/**
 * 内容样式
 */

.content {
	border: 1px solid #CCCCCC;
	width: 100%;
	height: 600px;
}

#span-2, #span-3, #span-4 {
	border: 1px solid #CCCCCC;
	margin: 0px;
	display: inline-table;
	height: 600px;
	border-top: none;
}

#span-2 {
	width: 19%;
	background: #FAFAFA;
}

#span-3 {
	width: 30%;
}

#span-4 {
	width: 49%;
}

/**
 *公共样式
 */
.list {
	height: 100%;
	overflow: scroll;
}

.list .theme {
	width: 100%;
	height: 30px;
	border: none;
	border-bottom: 1px solid #CCCCCC;
	background: #F0F0F0;
	line-height: 30px;
}

.list .theme .caret {
	margin: 12px 0px 0px 10px;
}

.list .theme span {
	font-size: 15px;
	font-weight: bold;
}

.list .lister {
	list-style-type: none;
	margin: 0px;
	width: 100%;
}

.list .lister li {
	height: 25px;
	line-height: 25px;
	padding-left: 10px;
}

.list .lister li:hover {
	background: #D1D4D7;
}

.borders {
	border: 1px solid black;
	border-radius: 2px;
	width: 10px;
	height: 10px;
	float: right;
	margin: 7px 5px 0px 0px;
	display: none;
}

.select {
	border-top: 4px solid black;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	float: right;
	margin: 4px 1px 0px 0px;
}

.borders .select .aid {
	list-style: none;
	border: 1px solid #CCCCCC;
	background: #FAFAFA;
	margin: 6px -10px 0px -50px;
	border-radius: 3px;
	display: none;
}

/**
 * 私有样式
 */
#span-2 .list .theme .borders {
	display: block;
}

#span-2 .list .theme .borders .select:hover .aid {
	display: block;
}

#span-2 .list .theme .borders .select:hover .aid li:hover {
	background: #D1D4D7;
}

#span-2 .list .lister .list-style1 .book {
	background: url(../img/glyphicons-halflings.png) -45px -48px no-repeat;
	padding-left: 20px;
}

#span-2 .list .lister li:hover .borders {
	display: block;
}

#span-2 .list .lister .borders .select:hover .aid {
	display: block;
}

#span-3 .list .theme span {
	padding-left: 30px;
	font-size: 15px;
}

#span-3 .list .lister li {
	width: 100%;
	height: 60px;
	padding: 10px;
	overflow: hidden;
	border-bottom: 1px solid #CCCCCC;
}

#span-3 .list .lister .link {
	width: 100%;
	height: 20px;
	line-height: 20px;
	display: block;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
}

#span-3 .list .lister .time {
	font-weight: bold;
	color: #4A8DB8;
	margin-top: -20px;
}

#span-4 .list .theme span {
	padding-left: 20px;
	font-size: 15px;
}


