body {
	background: #FFFFF0;
}

a {
	text-decoration: none;
	background: #0000CD;
	color: white;
	font-size: 15px;
}

a:hover {
	background: maroon;
}

h1 {
	text-align: center;
	background: #FAFAD2;
	color: blue;
}

h2 {
	text-align: center;
	background: #F5F5DC;
	color: green;
	border: 1px solid black;
}

p {
	text-align: center;
	border: 5px ridge;
	font-size: 40px;
}

