body {
	background:#FFFFF0;
}

a {
	background: #FFFFAA;
	text-decoration: none;
}

a:hover {
	background: #FFFFF0;
	border: thin solid black;
}

h1,h2 {
	text-align: center;
}

p {
	text-align: center;
	font-size: 20px;
}


