body,input,option {
	font-family: 'Microsoft Yahei', Verdana;
}

.container {
	width: 1200px;
}

#nav-list li:hover {
	background: #D4D4D4;
}

.active {
	background: #D4D4D4;
}

#search-button {
	font-family: 'Microsoft Yahei', Verdana;
}

#not-search {
	color: red;
	font-size: 20px;
	font-weight: bold;
}

